@import url("reset.css");
@import url("header.css");
@import url("footer.css");

:root {
    --primary-color: #9015ac;
}

@font-face {
  font-family: 'Denk One';
  src: url('../fonts/DenkOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: red;
}

.darken {
    filter: brightness(0.6);
}

.blur {
    filter: blur(10px);
    transform: scale(1.2)
}

.darken.blur {
    filter: blur(10px) brightness(0.6);
}

.banner-hs {
    height: 50vh;
}

.banner-fs {
    height: 100vh;
}

.banner img {
    object-fit: cover;
    width: 100%;
}

main .container { /* borrar */
    height: 45vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}